// .wrap-input-8 .input {
//  width: 100%;
//  box-sizing: border-box;
//  letter-spacing: 1px;
//  background-color: #f5f6fd;
//  border: 1px solid #ccc;
//  padding: 7px 14px 9px;
//  transition: 0.4s;
// }

.wrap-input-8 .input:focus {
 outline: none;
}

// .wrap-input-8 {
//  width: 80%;
//  margin: 40px 3%;
//  position: relative;
// }

.wrap-input-8 .input ~ .focus-border:before,
.wrap-input-8 .input ~ .focus-border:after {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 0;
 height: 2px;
 background-color: #1880c9;
 border-radius: 16px;
 transition: 0.3s;
}
.wrap-input-8 .input ~ .focus-border:after {
 top: auto;
 bottom: 0;
 left: auto;
 right: 0;
}
.wrap-input-8 .input ~ .focus-border i:before,
.wrap-input-8 .input ~ .focus-border i:after {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 2px;
 height: 0;
 background-color: #1880c9;
 transition: 0.4s;
 border-radius: 16px;
}
.wrap-input-8 .input ~ .focus-border i:after {
 left: auto;
 right: 0;
 top: auto;
 bottom: 0;
}
.wrap-input-8 .input:focus ~ .focus-border:before,
.wrap-input-8 .input:focus ~ .focus-border:after {
 width: 100%;
 transition: 0.3s;
}
.wrap-input-8 .input:focus ~ .focus-border i:before,
.wrap-input-8 .input:focus ~ .focus-border i:after {
 height: 100%;
 transition: 0.4s;
}

// Gradient Animation

.login-page {
 background: linear-gradient(270deg, #001220, #0d344d);
 background-size: 400% 400%;
 animation: AnimationName 27s ease infinite;
}

@keyframes AnimationName {
 0% {
  background-position: 0% 50%;
 }
 50% {
  background-position: 100% 50%;
 }
 100% {
  background-position: 0% 50%;
 }
}

// Slide-up Text

// #slider {
//  width: 600px;
//  display: flex;
//  gap: 15px;
//  font-size: 30px;
// }

// #sliderValue {
//  display: flex;
//  color: #0077ee;
//  font-weight: 700;
// }

// .start {
//  opacity: 0;
// }

// .animation {
//  animation: fade 0.3s forwards;
// }

// @keyframes fade {
//  0% {
//   opacity: 0;
//   transform: translateY(20px);
//  }

//  100% {
//   opacity: 1;
//   transform: translateY(0px);
//  }
// }

// .holder-animation {
//  animation: holder 4s;
// }

// @keyframes holder {
//  0% {
//   opacity: 1;
//  }

//  95% {
//   opacity: 1;
//  }

//  100% {
//   opacity: 0;
//  }
// }

// #slider {
//  width: 600px;
//  display: flex;
//  gap: 15px;
//  font-size: 30px;
// }

// #sliderValue {
//  color: #0077ee;
//  font-weight: 700;
//  opacity: 0;
//  transform: translateY(20px);
//  animation: fade 0.3s forwards;
// }

// @keyframes fade {
//  0% {
//   opacity: 0;
//   transform: translateY(20px);
//  }
//  100% {
//   opacity: 1;
//   transform: translateY(0);
//  }
// }

#slider {
 //  width: 600px;
 display: flex;
 gap: 15px;
 font-size: 20px;
}

#sliderValue {
 //  color: #0077ee;
 //  font-weight: 700;
 overflow: hidden; /* Hide overflowing content */
 position: relative; /* Required for absolute positioning of letters */
}

#sliderValue span {
 display: inline-block;
 opacity: 0;
 transform: translateY(20px);
 animation: fade 0.3s forwards;
}

@keyframes fade {
 0% {
  opacity: 0;
  transform: translateY(20px);
 }
 100% {
  opacity: 1;
  transform: translateY(0);
 }
}
